<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Framework\GraphQl\Schema\SchemaGeneratorInterface" type="Magento\ApplicationServer\GraphQl\SchemaGenerator" />
    <preference for="Magento\Framework\GraphQl\ConfigInterface" type="Magento\ApplicationServer\GraphQl\Config"/>
    <type name="Magento\ApplicationServer\GraphQl\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\Framework\GraphQl\Config\Data</argument>
        </arguments>
    </type>

</config>
